<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>
            [Hunter Industries API]HunterIndustriesAPI.Program,
            [Hunter Industries API]HunterIndustriesAPI.Startup,
            [Hunter Industries API]HunterIndustriesAPI.WebApiApplication,
            [Hunter Industries API]HunterIndustriesAPI.WebApiConfig,
            [Hunter Industries API]HunterIndustriesAPI.FilterConfig,
            [Hunter Industries API]HunterIndustriesAPI.RouteConfig,
            [Hunter Industries API]HunterIndustriesAPI.SwaggerConfig,
            [Hunter Industries API Control Panel]HunterIndustriesAPIControlPanel.Program,
            [*]*.Models.*,
            [*]*.Entities.*,
            [*]*.Objects.*,
          </Exclude>
          <ExcludeByAttribute>
            GeneratedCodeAttribute,
            CompilerGeneratedAttribute
          </ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
