.swagger-section #header {
    background-color: #130f3c;
    padding-bottom: 9px;
    height: 40px;
}

.swagger-section #header .swagger-ui-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swagger-section #header #logo .logo__img {
    content: url('/Content/HI Tech Logo NBG.png');
    width: 140px;
    height: 40px;
    pointer-events: none;
}

.swagger-section #header #logo .logo__title {
    display: none;
}

.swagger-section #api_selector input {
    display: none;
}

.swagger-section #auth_container .authorize__btn {
    display: none;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit {
    display: none;
}

.swagger-section .swagger-ui-wrap b, .swagger-section .swagger-ui-wrap strong {
    font-weight: normal;
}

.swagger-section .swagger-ui-wrap .code {
    font-weight: normal;
}